.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%);
}

.content {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wraper {
    margin-top: 60px;
}