.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wraper {
    margin-top: 60px;
}